{
    "endOfLine": "auto",
    "printWidth": 120,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.html",
            "options": { "parser": "lwc" }
        }
    ]
}
